In [2]:
import pandas as pd
from codes.db import * 
from codes.lib import *
from codes.riverlog_for_gis import *
import pandasql as ps

gd={}
conn=connect_db()
if 1:
    load_ods(gd)
    riverlog_info_setup(gd)
#sql_keys
#sql_keypairs

Connected to the PostgreSQL database...
sys 的 sheets:
 odict_keys(['table_def', 's_syspar', 's_info_point', 's_info_line', 's_info_area', 's_timeseq_rpt', 's_repeat_job', 's_topology_kind', 's_topology_transfer', 's_topology_node', 's_topology_edge'])
basic 的 sheets:
 odict_keys(['table_def', 'b_表單說明', 'b_colmeta', 'b_水資源分區', 'b_水資源局', 'b_河川局', 'b_流域', 'b_河川', 'b_排水', 'b_水庫', 'b_水質水量保護區', 'b_水庫集水範圍', 'b_水庫集水區敏感區', 'b_堤防', 'b_排水設施', 'b_水門', 'b_抽水站', 'b_河川斷面樁', 'b_雨量站', 'b_河川水位站', 'b_浮標站', 'b_潮位站', 'b_地下水分區', 'b_地下水觀測井'])
rain-station: output/rain-station.csv saved, shape = (2149, 6)
reservoir-info: output/reservoir-info.csv saved, shape = (152, 22)
waterLevel-station: output/waterLevel-station.csv saved, shape = (5176, 13)
waterLevelDrain-station: output/waterLevelDrain-station.csv saved, shape = (1189, 4)
waterLevelAgri-station: output/waterLevelAgri-station.csv saved, shape = (359, 4)
sewer-station: output/sewer-station.csv saved, shape = (310, 8)
tide-station: output/tide-station.csv saved, shape = (86, 4)
pump-station: output/pump-station.csv saved, shape = (174, 8)
reservoir-info: output/reservoir-info.csv saved, shape = (152, 22)
flood-station: output/flood-station.csv saved, shape = (2646, 4)
riverlog 的 sheets:
 dict_keys(['r_rain_station', 'r_reservoir_info', 'r_waterlevel_station', 'r_waterleveldrain_station', 'r_waterlevelagri_station', 'r_sewer_station', 'r_tide_station', 'r_pump_station', 'r_flood_station'])

# 使用範例

In [4]:
#df = sql_to_df(conn,sql)  
#sql_exec(conn,sql)
#print(view_by_key(None,None).keys())
#df=view_by_key(conn,'b_流域')
#key_to_value(conn,'b_流域','basin_id',130000,"basin_cname")
#key_to_value_help(conn,'b_流域','basin_id') #key_to_value_help(conn,None,None)
#df=keypar_to_view('basin_test',['頭前溪','濁水溪','大甲溪'],"str")
#df=keypar_to_view('basin_test2',['頭前溪','濁水溪'],"pos")
#df=keypar_to_view(conn,'station_by_basinname',['頭前溪'],"pos")

dict_keys(['rain_station', 'info_tables', 'info_columns', 'table_desc'])

In [15]:
if 0:
    sql = "select * from rivercode order by river_id"
    df = sql_to_df(conn,sql)  

if 0:
    sql="""
    CREATE TABLE "河川局" (
        a DECIMAL, 
        rvb_no DECIMAL, 
        rvb_name VARCHAR, 
        area BOOLEAN, 
        "水資源分區代號" BOOLEAN
    );

    """
    sql_exec(conn,sql)

if 0:
    close_db(conn)
if 0:
    #print("\n".join(get_table_list()))
    df = view_by_key(conn,'b_流域')
    

if 0:
    sql="select * from r_rain_station where \"stationID\"='00H710'"
    df = sql_to_df(conn,sql)
#df

if 0: #同名欄位分析
    df = view_by_key(conn,'info_columns')
    value_bins = df['column_name'].value_counts()
    #value_bins[value_bins>1].to_csv('output/cols_count.csv')
    value_bins[value_bins>10]
    #df[df['column_name']=='gid']

if 1: # 當場加 sql_keys 來使用
    sql_keys['level_riverpoly_rivercode']=\
    "select S.st_no,S.name_c,S.tri_name,ST_Distance(S.geom,R.geom) as dist from RIVWLSTA_e as S \
        join riverpoly_rivercode as R\
            on S.tri_name=R.river_name\
    order by dist;"
    df=view_by_key(conn,'level_riverpoly_rivercode')
if 0: # 當場加 sql_keypairs 來使用
    sql_keypairs['level_in_reservoir']=\
    "select S.st_no, S.name_c, R.name from RIVWLSTA_e as S \
        join reservoir as R \
            on ST_Within(S.geom,R.geom) \
    where name in (%s);"
    df=keypar_to_view(conn,'level_in_reservoir',['隆恩堰'],"str")
df

        st_no    name_c tri_name           dist
0    1400H015     象鼻(3)      大安溪       0.000000
1    1140H067       三鶯橋      大漢溪       0.000000
2    1140H054        霞雲      大漢溪       0.000000
3    1140H043        高義      大漢溪       0.000000
4    1140H001  玉峰(馬利哥灣)      大漢溪       0.000000
..        ...       ...      ...            ...
235  1430H054       福新橋       乾溪   35037.634544
236  1510H076      西濱大橋      濁水溪   35050.006963
237  1730H067     寶來二號橋      高屏溪   37189.551589
238  1430H037       觀音橋      南港溪   68365.268880
239  1350H028       弘文橋     鹽水坑溪  155243.853862

[240 rows x 4 columns]

# 目前練習

In [15]:
#key_to_value_help(conn,None,None)
#key_to_value_help(conn,'b_河川','river_id')
#key_to_value_help(conn,'rivercode',None)

df=view_by_key(conn,'rivercode')
#print(key_to_value(conn,'b_河川','river_id',130000.0,"river_cname"))

df

,river_id,river_name,river_ename,basin_id,in_id,gov_id,river_link
0,165000,鹽水溪,Yanshui River,1650.0,0,6.0,0@165000
1,165040,大洲排水,Dazhou Drainage,1650.0,165000,6.0,0@165000@165040
2,165050,柴頭港溪排水,Chaitougang River Drainage,1650.0,165000,6.0,0@165000@165050
3,165060,鹽水溪排水,Yanshui River Drainage,1650.0,165000,6.0,0@165000@165060
4,165061,曾文溪排水,Zengwen River Drainage,1650.0,165060,6.0,0@165000@165060@165061
...,...,...,...,...,...,...,...
522,14306A,四塊厝圳支線,Si Kuai Cuo Zun Ahi Zhi Xian,1430.0,143061,3.0,0@143000@143060@143061@14306A
523,14306C,員寶庄圳支線,Yuan Bao Zhuang Zun Zhi Xian,1430.0,143061,3.0,0@143000@143060@143061@14306C
524,14306D,大埔厝圳支線,Da Pu Cuo Zun Zhi Xian,1430.0,143061,3.0,0@143000@143060@143061@14306D
525,15402A,興安中排四,Xing An Zhong Pai Si,1540.0,154023,5.0,0@154000@154020@154023@15402A
526,17303A,高雄農場排水,Gao Xiong Nong Chang Pai Shui,1730.0,173035,7.0,0@173000@173030@173035@17303A

In [38]:
# 測站離河流距離
sql="select tri_name,st_no,name_c,ST_AsEWKT(geom) as ewkt from RIVWLSTA_e \
    where tri_name in ('頭前溪','上坪溪','油羅溪');"
#sql="select tri_name,st_no,name_c,ST_AsEWKT(geom) as ewkt from RIVWLSTA_e;"
df = sql_to_df(conn,sql)

print("水位站(RIVWLSTA_e) 跟河川河道(riverpoly)的距離:")
print("測站,河流,距離")
for row in df.iterrows():
    sql = "select river_name,ST_Distance(geom,ST_GeomFromText('%s')) as dist from riverpoly \
        where river_name='%s' order by dist limit  1" \
        % (row[1]['ewkt'],row[1]['tri_name'])
    df1 = sql_to_df(conn,sql)
    dist = df1['dist'].to_list()
    if len(dist)==0:
        print("%s,%s can't get distance" %(row[1]['name_c'],row[1]['tri_name']))
    else:
        if dist[0]>=0: #距離 filter
            print("%s,%s,%.2f" %(row[1]['name_c'],row[1]['tri_name'],dist[0]))

水位站(RIVWLSTA_e) 跟河川河道(riverpoly)的距離:
測站,河流,距離
內灣,油羅溪,0.00
上坪,上坪溪,0.00
竹林大橋,頭前溪,0.00
經國橋,頭前溪,0.00
竹林大橋(左岸),頭前溪,0.00
五峰大橋,上坪溪,38.12
舊港橋,頭前溪,164.20
竹港大橋,頭前溪,18.38
中正大橋,頭前溪,44.94
頭前溪橋,頭前溪,1.64
道將圳,頭前溪,7764.45

In [ ]:
sql="select tri_name,st_no,name_c,ST_AsEWKT(geom) as ewkt from RIVWLSTA_e;"
df = sql_to_df(conn,sql)

print("水位站(RIVWLSTA_e) 跟河川河道(riverpoly)的距離:")
print("測站,河流,距離")
for row in df.iterrows():
    sql = "select river_name,ST_Distance(geom,ST_GeomFromText('%s')) as dist from riverpoly \
        order by dist limit  1" \
        % (row[1]['ewkt'])
    print("sql=%s" % (sql))
    df1 = sql_to_df(conn,sql)
    dist = df1['dist'].to_list()
    if len(dist)==0:
        print("%s,%s can't get distance" %(row[1]['name_c'],row[1]['tri_name']))
    else:
        if dist[0]>=500: #距離 filter
            print("%s,%s,%.2f" %(row[1]['name_c'],row[1]['tri_name'],dist[0]))