In [126]:
import pandas as pd
from codes.db import * 
from codes.lib import *
from codes.riverlog_for_gis import *
import pandasql as ps

gd={}
conn=connect_db()
if 1:
    load_ods(gd)
    riverlog_info_setup(gd)

sys 的 sheets:
 odict_keys(['table_def', 's_syspar', 's_info_point', 's_info_line', 's_info_area', 's_timeseq_rpt', 's_repeat_job', 's_topology_kind', 's_topology_transfer', 's_topology_node', 's_topology_edge'])
basic 的 sheets:
 odict_keys(['table_def', 'b_表單說明', 'b_colmeta', 'b_水資源分區', 'b_水資源局', 'b_河川局', 'b_流域', 'b_河川', 'b_排水', 'b_水庫', 'b_水質水量保護區', 'b_水庫集水範圍', 'b_水庫集水區敏感區', 'b_堤防', 'b_排水設施', 'b_水門', 'b_抽水站', 'b_河川斷面樁', 'b_雨量站', 'b_河川水位站', 'b_浮標站', 'b_潮位站', 'b_地下水分區', 'b_地下水觀測井'])
rain-station: output/rain-station.csv saved, shape = (2149, 6)
reservoir-info: output/reservoir-info.csv saved, shape = (152, 22)
waterLevel-station: output/waterLevel-station.csv saved, shape = (5176, 13)
waterLevelDrain-station: output/waterLevelDrain-station.csv saved, shape = (1189, 4)
waterLevelAgri-station: output/waterLevelAgri-station.csv saved, shape = (359, 4)
sewer-station: output/sewer-station.csv saved, shape = (310, 8)
tide-station: output/tide-station.csv saved, shape = (86, 4)
pump-station: output/pump-station.csv saved, shape = (174, 8)
reservoir-info: output/reservoir-info.csv saved, shape = (152, 22)
flood-station: output/flood-station.csv saved, shape = (2646, 4)
riverlog 的 sheets:
 dict_keys(['r_rain_station', 'r_reservoir_info', 'r_waterlevel_station', 'r_waterleveldrain_station', 'r_waterlevelagri_station', 'r_sewer_station', 'r_tide_station', 'r_pump_station', 'r_flood_station'])

# 使用範例

In [129]:
#gd['base']['拓墣-Node']
#gd['riverlog']["r_rain_station"]
if 0:
    df = gd['basic']['河川局']
    #query_str = """SELECT * FROM df_8410 where site_id like '%東區%'"""
    query_str = """SELECT * FROM df where rvb_name='第一河川局'"""
    q1_df= ps.sqldf(query_str, locals())
#q1_df

     stationID city      lat       lon     name town
0       C1I230  南投縣  23.9637  120.8369     九份二山  國姓鄉
1       466940  基隆市  25.1351  121.7323       基隆  仁愛區
2       466900  新北市  25.1667  121.4407       淡水  淡水區
3       466880  新北市  24.9994  121.4338       板橋  板橋區
4       466930  臺北市  25.1639  121.5363      陽明山  北投區
...        ...  ...      ...       ...      ...  ...
2144    81S450  臺東縣  23.0149  121.1285       加樂  海端鄉
2145    81S530  臺東縣  22.8935  121.0637       紅葉  延平鄉
2146    81F860  臺中市  24.2828  121.2577       松茂  和平區
2147    81I510  南投縣  23.9609  120.8378  九份二山(2)  國姓鄉
2148    81M750  嘉義縣  23.4333  120.6514       隙頂  番路鄉

[2149 rows x 6 columns]

# DB 存取

In [3]:
conn=connect_db()

if 0:
    sql = "select * from rivercode order by river_id"
    df = sql_to_df(conn,sql)

if 0:
    df = gd['basic']['河川局']
    df.to_csv('output/河川局.csv')    

if 1:
    sql="""
    CREATE TABLE "河川局" (
        a DECIMAL, 
        rvb_no DECIMAL, 
        rvb_name VARCHAR, 
        area BOOLEAN, 
        "水資源分區代號" BOOLEAN
    );

    """
    sql_exec(conn,sql)
if 0:
    sql = 'select * from 河川局'
    df = sql_to_df(conn,sql)
if 1:
    close_db(conn)
#df

Connecting to the PostgreSQL database...
Database connection closed.

# 維護

head -n 20 河川局.csv | csvsql -i postgresql --no-constraints --tables 河川局

\copy "S_topology_edge" FROM 'output/S_topology_edge.csv' WITH (FORMAT csv);

In [128]:
import subprocess
import os
def exec_print(cmd_str):
    print("executing : %s" %(cmd_str)) 
    p = subprocess.Popen(cmd_str, shell=True, stdout=subprocess.PIPE, stderr=subprocess.STDOUT)
    for line in p.stdout.readlines():
        print(line)
    retval = p.wait()    
    

def ods_to_scr(tables,sql_name,psql_name,sql_drop_name):
    loc="/Volumes/F2020/opt/anaconda3/envs/py37/bin/csvsql"
    sqls=[]
    sqls_drop=[]
    table_list=[]
    if 'table_def' in tables:
        def_df=tables['table_def']
        table_list = def_df[def_df['type']=='T']['table_name'].to_list()
        print("table_list = %s" %(table_list))
    for t_name in tables:
        if (not t_name=='table_def') and t_name in table_list:
            df = tables[t_name]
            sqls_drop.append("DROP TABLE IF EXISTS %s;" %(t_name))
            
            filename = "output/%s.csv" %(t_name)
            df.to_csv(filename,index=False)
            cmd_str="head -n 1000 output/%s.csv | %s -i postgresql --no-constraints --tables '%s' >> %s" %(t_name,loc,t_name,sql_name)
            exec_print(cmd_str)
            psql="\\copy \"%s\" FROM 'output/%s.csv' WITH (FORMAT csv,HEADER);" %(t_name,t_name)
            sqls.append(psql)
    
    with open(psql_name, 'a') as f:
        for line in sqls:
            f.write("%s\n" %(line))

    with open(sql_drop_name, 'a') as f:
        for line in sqls_drop:
            f.write("%s\n" %(line))

sql_drop_name="output/tb_drop.sql"
sql_name = "output/tb.sql"
psql_name = "output/tb.psql"

#產生 sql, psql
if 0:
    if os.path.exists(sql_drop_name):
        os.remove(sql_drop_name)
    if os.path.exists(sql_name):
        os.remove(sql_name)
    if os.path.exists(psql_name):
        os.remove(psql_name)

    #ods_to_scr(gd['sys'],sql_name,psql_name,sql_drop_name)
    ods_to_scr(gd['basic'],sql_name,psql_name,sql_drop_name)
    #ods_to_scr(gd['riverlog'],sql_name,psql_name,sql_drop_name)

#manual modify schema
# r_waterlevel_station,b_河川水位站
    
#drop, create table
if 1:
    conn=connect_db()
    with open (sql_drop_name, "r") as scrfile:
        sqls=scrfile.readlines()

    sql_str = "".join(sqls)
    print("sql_drop script:\n%s" % (sql_str))
    sql_exec(conn,sql_str)
    
    with open (sql_name, "r") as scrfile:
        sqls=scrfile.readlines()

    sql_str = "".join(sqls)
    print("sql script:\n%s" % (sql_str))
    sql_exec(conn,sql_str)

#import data
if 1:
    psql="/Applications/Postgres.app/Contents/Versions/13/bin/psql"
    with open (psql_name, "r") as sqlfile:
        sqls=sqlfile.readlines()
    psql_str = "".join(sqls)
    print("psql script:\n%s" %(psql_str))

    cmd_str="%s -h localhost -p 5431 -U postgres postgis -f %s -a" %(psql,psql_name)
    exec_print(cmd_str)

Connecting to the PostgreSQL database...
sql_drop script:
DROP TABLE IF EXISTS b_水資源分區;
DROP TABLE IF EXISTS b_水資源局;
DROP TABLE IF EXISTS b_河川局;
DROP TABLE IF EXISTS b_流域;
DROP TABLE IF EXISTS b_河川;
DROP TABLE IF EXISTS b_排水;
DROP TABLE IF EXISTS b_水庫;
DROP TABLE IF EXISTS b_水質水量保護區;
DROP TABLE IF EXISTS b_水庫集水範圍;
DROP TABLE IF EXISTS b_水庫集水區敏感區;
DROP TABLE IF EXISTS b_堤防;
DROP TABLE IF EXISTS b_排水設施;
DROP TABLE IF EXISTS b_水門;
DROP TABLE IF EXISTS b_抽水站;
DROP TABLE IF EXISTS b_河川斷面樁;
DROP TABLE IF EXISTS b_雨量站;
DROP TABLE IF EXISTS b_河川水位站;
DROP TABLE IF EXISTS b_浮標站;
DROP TABLE IF EXISTS b_潮位站;
DROP TABLE IF EXISTS b_地下水分區;
DROP TABLE IF EXISTS b_地下水觀測井;

sql script:
CREATE TABLE "b_水資源分區" (
	id VARCHAR,
	name VARCHAR,
	"area(sq_km)" DECIMAL,
	x DECIMAL,
	y DECIMAL
);
CREATE TABLE "b_水資源局" (
	wr_dist_no DECIMAL,
	name VARCHAR
);
CREATE TABLE "b_河川局" (
	rvb_no DECIMAL,
	rvb_name VARCHAR,
	area BOOLEAN,
	"水資源分區代號" BOOLEAN
);
CREATE TABLE "b_流域" (
	basin_id DECIMAL,
	basin_cname VARCHAR,
	basin_ename VARCHAR,
	rvb_no DECIMAL,
	area DECIMAL,
	"rvb_no.1" BOOLEAN,
	"水資源分區代號" BOOLEAN,
	"主流長度" DECIMAL,
	"河床平均坡度" VARCHAR,
	"年逕流量" DECIMAL,
	"發源地說明" VARCHAR
);
CREATE TABLE "b_河川" (
	river_id DECIMAL,
	river_cname VARCHAR,
	river_ename VARCHAR,
	river_in_id DECIMAL,
	rvb_no DECIMAL,
	basin_id DECIMAL,
	"水質水量保護區代號" BOOLEAN
);
CREATE TABLE "b_排水" (
	drainage_id VARCHAR,
	drainage_cname VARCHAR,
	drainage_ename VARCHAR,
	drainage_in_id VARCHAR,
	"Unnamed: 4" VARCHAR,
	basin_id BOOLEAN,
	"Manager2" VARCHAR,
	sys_id VARCHAR,
	start_x VARCHAR,
	start_y VARCHAR,
	end_x VARCHAR,
	end_y VARCHAR,
	geo_id VARCHAR
);
CREATE TABLE "b_水庫" (
	shp_id DECIMAL,
	res_id DECIMAL,
	res_cname VARCHAR,
	res_ename VARCHAR,
	org_mng VARCHAR,
	purpose VARCHAR,
	tm_x DECIMAL,
	tm_y DECIMAL,
	admicode DECIMAL,
	location VARCHAR,
	"水質水量保護區代號" BOOLEAN,
	basin_id DECIMAL,
	rv_name VARCHAR,
	basin DECIMAL,
	nwl_mx DECIMAL,
	fwl_mxp DECIMAL,
	q_mxp BOOLEAN,
	dwl BOOLEAN,
	dwl_v BOOLEAN,
	ofwl_area DECIMAL,
	capacity_t DECIMAL,
	capacity_d DECIMAL,
	capacity_e DECIMAL,
	q_pl DECIMAL,
	qwl VARCHAR,
	date_start VARCHAR,
	date_estab VARCHAR,
	date_dam_s BOOLEAN,
	date_res BOOLEAN,
	ini_res_c BOOLEAN,
	sed_pl BOOLEAN,
	prop_sed_y BOOLEAN,
	prop_sed_r BOOLEAN,
	dam_type VARCHAR,
	dam_elev DECIMAL,
	dam_h DECIMAL,
	dam_l DECIMAL,
	dam_w DECIMAL,
	dam_v DECIMAL,
	spill_type VARCHAR,
	q_spill_ds DECIMAL,
	q_spill_mx DECIMAL,
	spill_gate VARCHAR,
	outf_type VARCHAR,
	outf_q_ds DECIMAL,
	outf_gate VARCHAR,
	sluice_typ BOOLEAN,
	sluice_gat BOOLEAN,
	cost VARCHAR,
	other_faci VARCHAR,
	proj_bene VARCHAR,
	now_bene VARCHAR,
	status VARCHAR,
	safe VARCHAR,
	dam_class DECIMAL,
	up_date BOOLEAN,
	wca_id DECIMAL,
	county VARCHAR,
	basin_no DECIMAL,
	basin_name VARCHAR,
	"basin_id.1" DECIMAL,
	county_id DECIMAL,
	town_id DECIMAL,
	town_na VARCHAR,
	wr_dist_no DECIMAL,
	amangt DECIMAL,
	zone DECIMAL,
	connect BOOLEAN,
	remark VARCHAR,
	rvb_no DECIMAL,
	rvb_name VARCHAR,
	objectid DECIMAL
);
CREATE TABLE "b_水質水量保護區" (
	wr_dist_no DECIMAL,
	area DECIMAL,
	perimeter DECIMAL,
	name VARCHAR,
	area_law DECIMAL,
	zone VARCHAR,
	law_new VARCHAR,
	id DECIMAL,
	img_new VARCHAR,
	img_old VARCHAR,
	county_id DECIMAL,
	polyname VARCHAR,
	law_old_1 VARCHAR,
	law_old_2 VARCHAR,
	law_old_3 BOOLEAN,
	law_old_4 BOOLEAN,
	law_old_5 BOOLEAN,
	buff_dist DECIMAL,
	orig_fid DECIMAL
);
CREATE TABLE "b_水庫集水範圍" (
	"OBJECTID" DECIMAL,
	"NAME" VARCHAR,
	"Shape_Leng" DECIMAL,
	"Shape_Area" DECIMAL,
	"Id" BOOLEAN,
	"蓄水範�" BOOLEAN,
	"RES_NAME" BOOLEAN,
	"LAYER" BOOLEAN,
	"FID_" BOOLEAN,
	"Entity" BOOLEAN,
	"Color" BOOLEAN,
	"Linetype" BOOLEAN,
	"Elevation" BOOLEAN,
	"LineWt" BOOLEAN,
	"RefName" BOOLEAN,
	"MapArea" BOOLEAN,
	"面積" BOOLEAN,
	"DocID" BOOLEAN,
	"OwnerID" BOOLEAN,
	"CadType" BOOLEAN,
	"Level" BOOLEAN,
	"Handle" BOOLEAN,
	"Class" BOOLEAN,
	"LTScale" BOOLEAN,
	"Width" BOOLEAN,
	"Thickness" BOOLEAN,
	"CadAngle" BOOLEAN,
	"CadModel" BOOLEAN,
	"ExtX" BOOLEAN,
	"ExtY" BOOLEAN,
	"ExtZ" BOOLEAN,
	"ScaleX" BOOLEAN,
	"ScaleY" BOOLEAN,
	"ScaleZ" BOOLEAN,
	"QrotW" BOOLEAN,
	"QrotX" BOOLEAN,
	"QrotY" BOOLEAN,
	"QrotZ" BOOLEAN,
	"FillColor" BOOLEAN,
	"GGroup" BOOLEAN,
	"LyrName" BOOLEAN,
	"LyrNum" BOOLEAN,
	"LvlDesc" BOOLEAN,
	"LyrColor" BOOLEAN,
	"LyrLineWt" BOOLEAN,
	"LyrLnType" BOOLEAN,
	"LyrFrzn" BOOLEAN,
	"LyrLock" BOOLEAN,
	"LyrOn" BOOLEAN,
	"LyrVPFrzn" BOOLEAN,
	"LvlPlot" BOOLEAN,
	"LyrHandle" BOOLEAN,
	"XDList" BOOLEAN,
	"GM_TYPE" BOOLEAN,
	"蓄水範�_1" BOOLEAN,
	"AREA" BOOLEAN,
	"PERIMETER" BOOLEAN,
	path VARCHAR
);
CREATE TABLE "b_水庫集水區敏感區" (
	name VARCHAR,
	objectid DECIMAL,
	shape_leng DECIMAL,
	note VARCHAR,
	zone VARCHAR,
	class_1 VARCHAR,
	state VARCHAR,
	publish BOOLEAN,
	unit VARCHAR,
	type VARCHAR,
	shape_le_1 DECIMAL,
	shape_area DECIMAL,
	buff_dist DECIMAL,
	orig_fid DECIMAL
);
CREATE TABLE "b_堤防" (
	"管理單位" BOOLEAN,
	"FCT_NO" DECIMAL,
	"NAME" VARCHAR,
	"TYPE" VARCHAR,
	"RV_NO" VARCHAR,
	"RV_NAME" VARCHAR,
	"W_NAME" VARCHAR,
	"BANK" VARCHAR,
	"ADMICODE1" VARCHAR,
	"ADMICODE2" BOOLEAN,
	"ADMICODE3" BOOLEAN,
	"YY_CONS" DATE,
	"ORG_CONS" BOOLEAN,
	"ORG_MNG" BOOLEAN,
	"L_DIKE" DECIMAL,
	"H_END" BOOLEAN,
	"H_PEND" BOOLEAN,
	"S_END" BOOLEAN,
	"H_BEG" BOOLEAN,
	"H_PBEG" DECIMAL,
	"S_BEG" BOOLEAN,
	"D_HIGH" DECIMAL,
	"W_TOP" DECIMAL,
	"S_IN" BOOLEAN,
	"S_OUT" BOOLEAN,
	"STYPE1" BOOLEAN,
	"STYPE2" BOOLEAN,
	"SIDEROAD" DECIMAL,
	"DOORS" DECIMAL,
	"DOOR_M" BOOLEAN,
	"L_LB" DECIMAL,
	"FDAM" DECIMAL,
	"BLOCKS" DECIMAL,
	"COND" BOOLEAN,
	"FLREC" BOOLEAN,
	"S_DAT" DATE,
	"E_DAT" DATE,
	"COM" BOOLEAN,
	"MONEY" DECIMAL,
	"C_NO" VARCHAR,
	"ENG_NO" VARCHAR,
	"M_PEO" BOOLEAN,
	"H_PEO" BOOLEAN,
	"MON_S" BOOLEAN,
	"MIL_BEG" BOOLEAN,
	"MIL_END" BOOLEAN,
	"DESCR" BOOLEAN,
	"UD_DATE" BOOLEAN,
	"BOT_HU" BOOLEAN,
	"BOT_HL" BOOLEAN,
	"H" DECIMAL
);
CREATE TABLE "b_排水設施" (
	riv_na VARCHAR,
	rv_name VARCHAR,
	rv_no VARCHAR,
	"管理單位1" VARCHAR,
	"管理單位2" VARCHAR
);
CREATE TABLE "b_水門" (
	"管理單位1" BOOLEAN,
	"管理單位2" BOOLEAN,
	"ID" DECIMAL,
	"FCT_NO" VARCHAR,
	"NAME" VARCHAR,
	"USE" VARCHAR,
	"TYPE" VARCHAR,
	"MATERIAL" VARCHAR,
	"FUNCTION" BOOLEAN,
	river_id BOOLEAN,
	"RV_NAME" VARCHAR,
	"ADMICODE" BOOLEAN,
	"ADMI_NAME" VARCHAR,
	"TM_X" DECIMAL,
	"TM_Y" DECIMAL,
	"BANK" VARCHAR,
	"MILAGE" VARCHAR,
	"UD_DATE" DECIMAL,
	"NOTE" VARCHAR,
	"S_TYPE" VARCHAR,
	"S_FROM" VARCHAR,
	"COUN_ID" DECIMAL,
	"TOWN_ID" DECIMAL,
	"WR_DIST_NO" DECIMAL,
	"BASIN_NO" DECIMAL,
	"MANGT_ID" DECIMAL,
	"ZONE" DECIMAL,
	"RVB_NO" DECIMAL
);
CREATE TABLE "b_抽水站" (
	"ID" DECIMAL,
	"FCT_NO" VARCHAR,
	"NAME" VARCHAR,
	"RV_NAME" VARCHAR,
	"ADMICODE" BOOLEAN,
	"ADMI_NAME" VARCHAR,
	"TM_X" DECIMAL,
	"TM_Y" DECIMAL,
	"BANK" VARCHAR,
	"MILAGE" VARCHAR,
	"UD_DATE" DECIMAL,
	"S_TYPE" VARCHAR,
	"NOTE" VARCHAR,
	"COUN_ID" DECIMAL,
	"TOWN_ID" DECIMAL,
	"WR_DIST_NO" DECIMAL,
	"BASIN_NO" DECIMAL,
	"MANGT_ID" DECIMAL,
	"ZONE" DECIMAL,
	"RVB_NO" DECIMAL
);
CREATE TABLE "b_河川斷面樁" (
	tri_no VARCHAR,
	pile_no VARCHAR,
	rvsec_no VARCHAR,
	bank VARCHAR,
	stone VARCHAR,
	tm2_x67 VARCHAR,
	tm2_y67 VARCHAR,
	tm2_e67 VARCHAR,
	tm2_x97 VARCHAR,
	tm2_y97 DECIMAL,
	tm2_e97 BOOLEAN,
	yy_cons BOOLEAN,
	deptid BOOLEAN,
	obs_yy BOOLEAN,
	elev_yy BOOLEAN,
	rvsec_coun BOOLEAN,
	src BOOLEAN
);
CREATE TABLE "b_雨量站" (
	status2 VARCHAR,
	st_no VARCHAR,
	name_c VARCHAR,
	name_e VARCHAR,
	addr_c VARCHAR,
	addr_e VARCHAR,
	admicode VARCHAR,
	tm_x VARCHAR,
	tm_y VARCHAR,
	elev VARCHAR,
	wr_dist_no VARCHAR,
	deptid VARCHAR,
	rv_no DECIMAL,
	st_no1 DECIMAL,
	remarks BOOLEAN,
	longitude VARCHAR,
	latitude VARCHAR,
	status BOOLEAN,
	tri_name VARCHAR,
	town_id DECIMAL,
	setst_noda INTERVAL,
	ip VARCHAR,
	port DECIMAL,
	ip_src VARCHAR,
	tm_x97 DECIMAL,
	tm_y97 DECIMAL,
	permistype DECIMAL,
	settype DECIMAL,
	unittype DECIMAL,
	unitname VARCHAR,
	usetype1 DECIMAL,
	usetype2 DECIMAL,
	usetype3 DECIMAL,
	usetype4 DECIMAL,
	usetype5 DECIMAL,
	usetype6 DECIMAL,
	ename BOOLEAN,
	wname BOOLEAN,
	specificpr BOOLEAN,
	townid DECIMAL,
	village VARCHAR,
	trino2 DECIMAL,
	trino3 BOOLEAN,
	damarea BOOLEAN,
	islightnin DECIMAL,
	issteal DECIMAL,
	isdisaster DECIMAL,
	landsubsid DECIMAL,
	obsitems DECIMAL,
	equiptype DECIMAL,
	rainpackcn DECIMAL,
	isfence DECIMAL,
	space DECIMAL,
	rainmouth DECIMAL,
	isrt DECIMAL,
	transseq1 DECIMAL,
	transseq2 DECIMAL,
	iscollecti DECIMAL,
	collection DECIMAL,
	ischeck DECIMAL,
	notchcekre DECIMAL,
	transtypew DECIMAL,
	transtypec BOOLEAN,
	transtypet BOOLEAN,
	obstype DECIMAL,
	normalobst DECIMAL,
	shortobsty DECIMAL,
	shortobsre BOOLEAN,
	shortobspl BOOLEAN,
	shortobsot BOOLEAN,
	shortobs_s BOOLEAN,
	pauseobsre DECIMAL,
	isreplace DECIMAL,
	replace_st BOOLEAN,
	pausedate BOOLEAN,
	nextobsdat BOOLEAN,
	obsremarks BOOLEAN,
	issolar DECIMAL,
	islocalcal DECIMAL,
	sun_w DECIMAL,
	sun_cnt DECIMAL,
	issunshine DECIMAL,
	iscover DECIMAL,
	sd DECIMAL,
	drivedista DECIMAL,
	walkdistan DECIMAL,
	maintaincy DECIMAL,
	solarremar BOOLEAN,
	staffopera DECIMAL,
	staffcompi DECIMAL,
	stname_e VARCHAR,
	notcheckot BOOLEAN,
	cancelno BOOLEAN,
	u_no DECIMAL,
	x_84 DECIMAL,
	y_84 DECIMAL
);
CREATE TABLE "b_河川水位站" (
	status VARCHAR,
	"測站類別" VARCHAR,
	st_no VARCHAR,
	name_c VARCHAR,
	name_e VARCHAR,
	addr_c VARCHAR,
	addr_e VARCHAR,
	admicode VARCHAR,
	wr_dist_no VARCHAR,
	deptid VARCHAR,
	tm_x VARCHAR,
	tm_y DECIMAL,
	drainage_a DECIMAL,
	level0 DECIMAL,
	observe DECIMAL,
	reservoir DECIMAL,
	tri_name VARCHAR,
	tri_namee VARCHAR,
	remarks BOOLEAN,
	alert_leve DECIMAL,
	town_id DECIMAL,
	alert_le_1 DECIMAL,
	alert_le_2 BOOLEAN,
	planlevel DECIMAL,
	dike_heigh DECIMAL,
	setdate INTERVAL,
	ip VARCHAR,
	port DECIMAL,
	ip_src VARCHAR,
	tm_x97 DECIMAL,
	tm_y97 DECIMAL,
	longitude VARCHAR,
	latitude VARCHAR,
	village VARCHAR,
	iscrossriv DECIMAL,
	crossriver VARCHAR,
	reobsyy DECIMAL,
	obssrc DECIMAL,
	obsother BOOLEAN,
	usetype1 DECIMAL,
	usetype2 DECIMAL,
	usetype3 DECIMAL,
	usetype4 DECIMAL,
	usetype5 DECIMAL,
	usetype6 DECIMAL,
	ename BOOLEAN,
	wname BOOLEAN,
	specificpr BOOLEAN,
	trino1 DECIMAL,
	trino2 DECIMAL,
	trino3 BOOLEAN,
	damarea BOOLEAN,
	isdraw DECIMAL,
	isdrainage DECIMAL,
	leeff BOOLEAN,
	dieff BOOLEAN,
	disummary VARCHAR,
	sectioncha DECIMAL,
	isstraight DECIMAL,
	istide DECIMAL,
	issand DECIMAL,
	islightnin DECIMAL,
	issteal DECIMAL,
	isdisaster DECIMAL,
	isbadlayer DECIMAL,
	obsitems VARCHAR,
	obsitems_x DECIMAL,
	obsitems_y DECIMAL,
	wqobs BOOLEAN,
	equiptype DECIMAL,
	isrt DECIMAL,
	transseq1 DECIMAL,
	transseq2 DECIMAL,
	iscollecti DECIMAL,
	collection DECIMAL,
	ischeck DECIMAL,
	notcheckre DECIMAL,
	notcheckot BOOLEAN,
	transtypew DECIMAL,
	transtypec DECIMAL,
	transtypet BOOLEAN,
	obstype DECIMAL,
	normalobst DECIMAL,
	shortobsty DECIMAL,
	shortobsre BOOLEAN,
	shortobspl BOOLEAN,
	shortobsot BOOLEAN,
	shortobs_s BOOLEAN,
	pauseobsre BOOLEAN,
	isreplace BOOLEAN,
	replace_st BOOLEAN,
	pausedate BOOLEAN,
	nextobsdat BOOLEAN,
	obsremarks BOOLEAN,
	issolar DECIMAL,
	iscityelec DECIMAL,
	sun_w DECIMAL,
	sun_cnt DECIMAL,
	issunshine DECIMAL,
	iscover DECIMAL,
	sd DECIMAL,
	drivedista DECIMAL,
	walkdistan DECIMAL,
	maintaincy DECIMAL,
	iswarningl DECIMAL,
	solarremar BOOLEAN,
	main_empid DECIMAL,
	check_empi DECIMAL,
	main_emp_1 DECIMAL,
	check_em_1 DECIMAL,
	sand_empid BOOLEAN,
	rating_emp VARCHAR,
	is_flow DECIMAL,
	flow_cnt BOOLEAN,
	is_src_flo BOOLEAN
);
CREATE TABLE "b_浮標站" (
	status2 VARCHAR,
	"SN" DECIMAL,
	"Name" VARCHAR,
	"enName" VARCHAR,
	"Code" VARCHAR,
	"Import" BOOLEAN,
	"TM2_x" DECIMAL,
	"TM2_y" DECIMAL,
	"Height" BOOLEAN,
	"Longitude" VARCHAR,
	"Latitude" VARCHAR,
	"Company" VARCHAR,
	"Address" VARCHAR,
	"SetupDate" INTERVAL,
	"SetupType" VARCHAR,
	"ObserveTyp" BOOLEAN,
	"ObserveIte" VARCHAR,
	"Note" BOOLEAN,
	"isDisplay" BOOLEAN
);
CREATE TABLE "b_潮位站" (
	status2 VARCHAR,
	"SN" DECIMAL,
	"Name" VARCHAR,
	"enName" VARCHAR,
	"Code" VARCHAR,
	"Import" BOOLEAN,
	"TM2_x" DECIMAL,
	"TM2_y" DECIMAL,
	"Height" BOOLEAN,
	"Longitude" VARCHAR,
	"Latitude" VARCHAR,
	"Company" VARCHAR,
	"Address" VARCHAR,
	"SetupDate" INTERVAL,
	"SetupType" VARCHAR,
	"ObserveTyp" BOOLEAN,
	"ObserveIte" VARCHAR,
	"Note" BOOLEAN,
	"isDisplay" BOOLEAN
);
CREATE TABLE "b_地下水分區" (
	"AREA_" DECIMAL,
	"分區屬性" VARCHAR,
	"PERIMETER" DECIMAL,
	"GWZON_" DECIMAL,
	"GWZON_ID" DECIMAL,
	"ZONE" DECIMAL,
	"GW_ZONE" VARCHAR,
	"Shape_STAr" DECIMAL,
	"Shape_STLe" DECIMAL
);
CREATE TABLE "b_地下水觀測井" (
	status2 VARCHAR,
	"ST_NO" DECIMAL,
	"NAME_C" VARCHAR,
	"WR_DI_NAME" VARCHAR,
	"AREANO" DECIMAL,
	"GW_ZONE" VARCHAR,
	"COUN_ID" DECIMAL,
	"TOWN_ID" DECIMAL,
	"DEPTID" DECIMAL,
	"WELLTYPE" DECIMAL,
	"STATUS" BOOLEAN,
	"UD_TYPE" BOOLEAN,
	"UD_DATE" DECIMAL,
	"DAT_ESTABL" DECIMAL,
	"ABOLISH_DA" DECIMAL,
	"LEVEL" DECIMAL,
	"ADDRESS" VARCHAR,
	"G_HEIGHT" DECIMAL,
	"ELEV_CUR" DECIMAL,
	"R_WELL" DECIMAL,
	"D_WELL" DECIMAL,
	"NEAR_BASIN" BOOLEAN,
	"NEAR_STATI" BOOLEAN,
	"LAYER_ATTR" VARCHAR,
	"LAYER" DECIMAL,
	"FIN_DATE" DECIMAL,
	"FIN_DEPTH" DECIMAL,
	"DAT_B_OBS" DECIMAL,
	"BASE_ELE" DECIMAL,
	"WELL_MAT" DECIMAL,
	"WELL_NUM" BOOLEAN,
	"TM_X" DECIMAL,
	"TM_Y" DECIMAL,
	"REMARK" VARCHAR,
	"HANDLE_DEP" VARCHAR,
	"TASKMASTER" VARCHAR,
	"STATICLE" DECIMAL,
	"PUMPLE" DECIMAL,
	"AQUIFER" VARCHAR,
	"OELE" DECIMAL,
	"AQUIFER_D" BOOLEAN,
	"OELE_D" BOOLEAN,
	"TRANS" DECIMAL,
	"CON" DECIMAL,
	"EXEYEAR" BOOLEAN,
	"APPROVEDAT" INTERVAL,
	"APPROVENAM" VARCHAR,
	"EQUIP_LIMI" DECIMAL,
	"EQUIP_LI_1" DECIMAL,
	"EQUIP_SENS" DECIMAL,
	"TM_X97" DECIMAL,
	"TM_Y97" DECIMAL,
	"DEPT_BUILD" BOOLEAN,
	"DEPT_SUP" BOOLEAN,
	"LAT" BOOLEAN,
	"LON" BOOLEAN,
	"ADMICODE" DECIMAL,
	"TM_X97_119" BOOLEAN,
	"TM_Y97_119" BOOLEAN
);

psql script:
\copy "b_水資源分區" FROM 'output/b_水資源分區.csv' WITH (FORMAT csv,HEADER);
\copy "b_水資源局" FROM 'output/b_水資源局.csv' WITH (FORMAT csv,HEADER);
\copy "b_河川局" FROM 'output/b_河川局.csv' WITH (FORMAT csv,HEADER);
\copy "b_流域" FROM 'output/b_流域.csv' WITH (FORMAT csv,HEADER);
\copy "b_河川" FROM 'output/b_河川.csv' WITH (FORMAT csv,HEADER);
\copy "b_排水" FROM 'output/b_排水.csv' WITH (FORMAT csv,HEADER);
\copy "b_水庫" FROM 'output/b_水庫.csv' WITH (FORMAT csv,HEADER);
\copy "b_水質水量保護區" FROM 'output/b_水質水量保護區.csv' WITH (FORMAT csv,HEADER);
\copy "b_水庫集水範圍" FROM 'output/b_水庫集水範圍.csv' WITH (FORMAT csv,HEADER);
\copy "b_水庫集水區敏感區" FROM 'output/b_水庫集水區敏感區.csv' WITH (FORMAT csv,HEADER);
\copy "b_堤防" FROM 'output/b_堤防.csv' WITH (FORMAT csv,HEADER);
\copy "b_排水設施" FROM 'output/b_排水設施.csv' WITH (FORMAT csv,HEADER);
\copy "b_水門" FROM 'output/b_水門.csv' WITH (FORMAT csv,HEADER);
\copy "b_抽水站" FROM 'output/b_抽水站.csv' WITH (FORMAT csv,HEADER);
\copy "b_河川斷面樁" FROM 'output/b_河川斷面樁.csv' WITH (FORMAT csv,HEADER);
\copy "b_雨量站" FROM 'output/b_雨量站.csv' WITH (FORMAT csv,HEADER);
\copy "b_河川水位站" FROM 'output/b_河川水位站.csv' WITH (FORMAT csv,HEADER);
\copy "b_浮標站" FROM 'output/b_浮標站.csv' WITH (FORMAT csv,HEADER);
\copy "b_潮位站" FROM 'output/b_潮位站.csv' WITH (FORMAT csv,HEADER);
\copy "b_地下水分區" FROM 'output/b_地下水分區.csv' WITH (FORMAT csv,HEADER);
\copy "b_地下水觀測井" FROM 'output/b_地下水觀測井.csv' WITH (FORMAT csv,HEADER);

executing : /Applications/Postgres.app/Contents/Versions/13/bin/psql -h localhost -p 5431 -U postgres postgis -f output/tb.psql -a
b'\\copy "b_\xe6\xb0\xb4\xe8\xb3\x87\xe6\xba\x90\xe5\x88\x86\xe5\x8d\x80" FROM \'output/b_\xe6\xb0\xb4\xe8\xb3\x87\xe6\xba\x90\xe5\x88\x86\xe5\x8d\x80.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 4\n'
b'\\copy "b_\xe6\xb0\xb4\xe8\xb3\x87\xe6\xba\x90\xe5\xb1\x80" FROM \'output/b_\xe6\xb0\xb4\xe8\xb3\x87\xe6\xba\x90\xe5\xb1\x80.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 3\n'
b'\\copy "b_\xe6\xb2\xb3\xe5\xb7\x9d\xe5\xb1\x80" FROM \'output/b_\xe6\xb2\xb3\xe5\xb7\x9d\xe5\xb1\x80.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 3\n'
b'\\copy "b_\xe6\xb5\x81\xe5\x9f\x9f" FROM \'output/b_\xe6\xb5\x81\xe5\x9f\x9f.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 4\n'
b'\\copy "b_\xe6\xb2\xb3\xe5\xb7\x9d" FROM \'output/b_\xe6\xb2\xb3\xe5\xb7\x9d.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 6\n'
b'\\copy "b_\xe6\x8e\x92\xe6\xb0\xb4" FROM \'output/b_\xe6\x8e\x92\xe6\xb0\xb4.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 9\n'
b'\\copy "b_\xe6\xb0\xb4\xe5\xba\xab" FROM \'output/b_\xe6\xb0\xb4\xe5\xba\xab.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 6\n'
b'\\copy "b_\xe6\xb0\xb4\xe8\xb3\xaa\xe6\xb0\xb4\xe9\x87\x8f\xe4\xbf\x9d\xe8\xad\xb7\xe5\x8d\x80" FROM \'output/b_\xe6\xb0\xb4\xe8\xb3\xaa\xe6\xb0\xb4\xe9\x87\x8f\xe4\xbf\x9d\xe8\xad\xb7\xe5\x8d\x80.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 3\n'
b'\\copy "b_\xe6\xb0\xb4\xe5\xba\xab\xe9\x9b\x86\xe6\xb0\xb4\xe7\xaf\x84\xe5\x9c\x8d" FROM \'output/b_\xe6\xb0\xb4\xe5\xba\xab\xe9\x9b\x86\xe6\xb0\xb4\xe7\xaf\x84\xe5\x9c\x8d.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 3\n'
b'\\copy "b_\xe6\xb0\xb4\xe5\xba\xab\xe9\x9b\x86\xe6\xb0\xb4\xe5\x8d\x80\xe6\x95\x8f\xe6\x84\x9f\xe5\x8d\x80" FROM \'output/b_\xe6\xb0\xb4\xe5\xba\xab\xe9\x9b\x86\xe6\xb0\xb4\xe5\x8d\x80\xe6\x95\x8f\xe6\x84\x9f\xe5\x8d\x80.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 3\n'
b'\\copy "b_\xe5\xa0\xa4\xe9\x98\xb2" FROM \'output/b_\xe5\xa0\xa4\xe9\x98\xb2.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 13\n'
b'\\copy "b_\xe6\x8e\x92\xe6\xb0\xb4\xe8\xa8\xad\xe6\x96\xbd" FROM \'output/b_\xe6\x8e\x92\xe6\xb0\xb4\xe8\xa8\xad\xe6\x96\xbd.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 6\n'
b'\\copy "b_\xe6\xb0\xb4\xe9\x96\x80" FROM \'output/b_\xe6\xb0\xb4\xe9\x96\x80.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 3\n'
b'\\copy "b_\xe6\x8a\xbd\xe6\xb0\xb4\xe7\xab\x99" FROM \'output/b_\xe6\x8a\xbd\xe6\xb0\xb4\xe7\xab\x99.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 3\n'
b'\\copy "b_\xe6\xb2\xb3\xe5\xb7\x9d\xe6\x96\xb7\xe9\x9d\xa2\xe6\xa8\x81" FROM \'output/b_\xe6\xb2\xb3\xe5\xb7\x9d\xe6\x96\xb7\xe9\x9d\xa2\xe6\xa8\x81.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 15\n'
b'\\copy "b_\xe9\x9b\xa8\xe9\x87\x8f\xe7\xab\x99" FROM \'output/b_\xe9\x9b\xa8\xe9\x87\x8f\xe7\xab\x99.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 8\n'
b'\\copy "b_\xe6\xb2\xb3\xe5\xb7\x9d\xe6\xb0\xb4\xe4\xbd\x8d\xe7\xab\x99" FROM \'output/b_\xe6\xb2\xb3\xe5\xb7\x9d\xe6\xb0\xb4\xe4\xbd\x8d\xe7\xab\x99.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 9\n'
b'\\copy "b_\xe6\xb5\xae\xe6\xa8\x99\xe7\xab\x99" FROM \'output/b_\xe6\xb5\xae\xe6\xa8\x99\xe7\xab\x99.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 5\n'
b'\\copy "b_\xe6\xbd\xae\xe4\xbd\x8d\xe7\xab\x99" FROM \'output/b_\xe6\xbd\xae\xe4\xbd\x8d\xe7\xab\x99.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 3\n'
b'\\copy "b_\xe5\x9c\xb0\xe4\xb8\x8b\xe6\xb0\xb4\xe5\x88\x86\xe5\x8d\x80" FROM \'output/b_\xe5\x9c\xb0\xe4\xb8\x8b\xe6\xb0\xb4\xe5\x88\x86\xe5\x8d\x80.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 5\n'
b'\\copy "b_\xe5\x9c\xb0\xe4\xb8\x8b\xe6\xb0\xb4\xe8\xa7\x80\xe6\xb8\xac\xe4\xba\x95" FROM \'output/b_\xe5\x9c\xb0\xe4\xb8\x8b\xe6\xb0\xb4\xe8\xa7\x80\xe6\xb8\xac\xe4\xba\x95.csv\' WITH (FORMAT csv,HEADER);\n'
b'COPY 3\n'

# Debug

In [95]:
df=gd['riverlog']["r_waterlevel_station"]
#df[df['AlertLevel1'].notnull()]
f1=df['AlertLevel1'].notnull()
#df[f1 & df['AlertLevel1']=='{}']
df2=df[f1 & df['AlertLevel1'].str.contains('\{\}',regex=True)]
#df[df['BasinIdentifier']=='1140H002']
df2

#df.dtypes
#df.to_csv('output/r_waterlevel_station.csv')

Empty DataFrame
Columns: [BasinIdentifier, AffiliatedBasin, AffiliatedSubSubsidiaryBasin, AffiliatedSubsidiaryBasin, AlertLevel1, AlertLevel2, AlertLevel3, LocationAddress, ObservatoryName, RiverName, TownIdentifier, lat, lon]
Index: []